<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h2>
			<%= User.find(@feed.user_id).email %> ha scritto un feed su <a href="http://www.ragazidel99.it">ragazzidel99.it</a>!
		</h2>
		<h4>
			Ricorda che il suo feed non verrà pubblicato finchè non modificherai il campo 'publishing'.<br>
			In basso sono riportate alcune informazioni:<br><br>
			Testo in italiano:		<%= @feed.text_ita %><br>
			Testo in inglese:	<%= @feed.text_eng %><br>
			Data di pubblicazione:	<%= @feed.date %><br>
		</h4>
	</body>
</html>