<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	
	<body>
		<h2>
			Errore:<br>
			<%= @error_message %>.
		</h2>
		<h4>
			Buona giornata Amminastratore!
		</h4>
	</body>
</html>
